.video-error {
  color: red;
  font-size: 24px;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.player-wrapper {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 2px 2px 10px grey;
  min-height: 150px;
}
